body{
    background-image: url("../images/request_back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


h2{
    color: white;
}
.request_form{
    padding-top: 30px;
    color: black;
    direction: rtl;
    text-align: center;
    margin: 5% auto;
    width: 465px;
  background-color: black;
    opacity: 0.9;
    padding-bottom: 30px;
}
input,select{
    width: 90%!important;
    margin-right: 20px;
}

input::placeholder{
    font-family: Arial;
}
#req_sub{
    width: 120px;
    margin-top: 20px;
}
#req_ttype{
width: 170px;
}

